﻿@model smt_dashboard.ViewModels.DashboardViewModel

<html lang="en">
<head>
    
    <base href="@(Model.Base)"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cockpit</title>
    <link rel="stylesheet" href="@(Model.Base)/wwwroot/checkout.css?rev=@((Int32) (DateTime.UtcNow.Subtract(new DateTime(1970, 1, 1))).TotalSeconds)"/>
    <link rel="stylesheet" href="@(Model.Base)/wwwroot/cockpit.css?rev=@((Int32) (DateTime.UtcNow.Subtract(new DateTime(1970, 1, 1))).TotalSeconds)"/>
    <link rel="stylesheet" href="@(Model.Base)/wwwroot/dashboard.css?rev=@((Int32) (DateTime.UtcNow.Subtract(new DateTime(1970, 1, 1))).TotalSeconds)"/>
    <link rel="stylesheet" href="@(Model.Base)/wwwroot/order-styles.css?rev=@((Int32) (DateTime.UtcNow.Subtract(new DateTime(1970, 1, 1))).TotalSeconds)"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css" integrity="sha384-QokYePQSOwpBDuhlHOsX0ymF6R/vLk/UQVz3WHa6wygxI5oGTmDTv8wahFOSspdm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/regular.css" integrity="sha384-FKw7x8fCxuvzBwOJmhTJJsKzBl8dnN9e2R4+pXRfYoHivikuHkzWyhKWDSMcGNK8" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css" integrity="sha384-vd1e11sR28tEK9YANUtpIOdjGW14pS87bUBuOIoBILVWLFnS+MCX9T6MMf0VdPGq" crossorigin="anonymous">
    <script type="text/javascript" src="@(Model.Base)/wwwroot/moment.min.js"></script>
</head>

<body>
<template id="spinner">
    <div class="spinner widget-spinner">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <div class="bar4"></div>
        <div class="bar5"></div>
        <div class="bar6"></div>
        <div class="bar7"></div>
        <div class="bar8"></div>
        <div class="bar9"></div>
        <div class="bar10"></div>
        <div class="bar11"></div>
        <div class="bar12"></div>
    </div>
</template>
<div class="full-container">
@if (Model.ShowLoginPage)
{
    <div class="full-width bg-white">
        <div id="loginwidget">
            <h2>Login<br/>SAP Server: @Model.SAPServer<br/>App ID: @Model.AppId</h2>
            <form class="content login" id="loginform">
                <label>
                    <input id="username" type="text" value="" placeholder="Username">
                </label>
                <label>
                    <input id="password" type="password" value="" placeholder="Password">
                </label>
                <label>Supervisor IDs: <input id="supers" value='' type="text" placeholder="ex. 100380|100436"></label>
                <button type="submit" id="loginBtn">Login</button>
            </form>
        </div>
    </div>
    <script type="text/javascript" nonce="@(ViewData["NONCE"])">
        showAlert = false;
    const loginform = document.getElementById('loginform');
    const usernameTxt = document.getElementById('username');
    const passwordTxt = document.getElementById('password');
    const supersTxt = document.getElementById('supers');
    loginform.addEventListener('submit',
                e => {
                    e.preventDefault();
                    login(usernameTxt.value, passwordTxt.value, supersTxt.value);
                });
    usernameTxt.focus();
    </script>
}

<header class="row justify-content-space-between align-items-center ml-5px">
        <div class="flex row">
        <div class="fake-select-container ltrt bg-none" id="superselector-container">
            <div class="fake-select-fw"><div id="superselector"></div></div>
            </div>
        </div>
        <div class="flex col align-items-center justify-content-center">
            @* <h1>Cockpit</h1> *@
        </div>
        <div class="flex row justify-content-end">
            <div id="lastUpdate" class="lastUpdatedDateTime">Last Updated <span id="lastUpdatedTime" class="text-x-small"></span>&nbsp;&nbsp;<span class="text-x-small">(v3.0.10)</span></div>
            
        </div>
    </header>

    <div class="row">
    <!-- TODO some widgets are clones and could be DRYed up to remove duplication of widget kind -->
    <div class="widget loading flex grid-district-vital-few-objectives" data-url="/vfoytd">
        <div class="widget-content">
            <h3 data-action="ShowHelp" data-help="{{HelpText}}">{{Title}}</h3>
            <div class="content">
                <div class="listing">
                    <div class="item" data-each="Items">
                        <span class="label">{{Label}}</span>
                        <span class="value">{{Value}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="widget loading flex grid-mtd-material" data-url="/mtdmaterialhpd">
        <div class="widget-content">
            <h3 data-action="ShowHelp" data-help="{{HelpText}}">{{Title}}</h3>
            <div class="content">
                <div class="listing">
                    <div class="item" data-each="Items">
                        <span class="label">{{Label}}</span>
                        <span class="value">{{Value}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="nonconformancemodaldetail" class="hidden non-conformances-modal">
        <header>
            <section>
                <h3>{{ParentTitle}}</h3>
                <h4>{{Title}}</h4>
            </section>
        </header>
        <div class="listing">
            <table>
                <thead>
                <tr>
                    <th data-each="Headings">{{Label}}</th>
                </tr>
                </thead>
                <tbody>
                <tr data-each="Items">
                    <td>{{BuildingName}}</td>
                    <td>{{EquipmentDesc}}</td>
                    <td>{{Deficiency}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="widget loading flex grid-schindler-ahead" data-url="/schindler-ahead" data-openmodal="schindleraheaddetail">
        <div class="widget-content">
            <h3 data-action="ShowHelp" data-help="{{HelpText}}">{{Title}}</h3>
            <div class="content">
                <div class="listing">
                    <div class="item hover" data-each="Items" data-modaldataurl="/schindleraheaddetail/{{Label}}">
                        <div class="label">{{Label}}</div>
                        <div class="value clickable-detail row justify-content-center align-items-center col align-items-end">
                            <div >{{Value}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="schindleraheaddetail" class=" hidden">
        <header>
            <section>
                <h3>{{ParentTitle}}</h3>
                <h4>{{Title}}</h4>
            </section>
        </header>
        <div class="listing">
            <table>
                <thead>
                <tr>
                    <th data-each="Headings">{{Label}}</th>
                </tr>
                </thead>
                <tbody>
                    <tr data-each="Items">
                        <td>{{BuildingName}}</td>
                        <td>{{ContractNumber}}</td>
                        <td>{{EquipmentDesc}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="grid">
<div class="widget loading grid-out-of-service-units" data-url="/ossunits" data-openmodal="ossmodaldetail">
    <div class="widget-content">
        <h3 data-action="ShowHelp" data-help="{{HelpText}}">{{Title}}</h3>
        <div class="content">
            <div class="listing">
                <table>
                    <thead>
                    <tr>
                        <th data-each="Headings">{{Label}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="hover" data-each="Items" data-modaldataurl="/ossunitdetail/{{EquipmentNumber}}">
                        <td>
                            <div class="row flex align-items-center clickable-detail">
                                <div>{{BuildingName}}</div>
                            </div>
                        </td>
                        <td>{{EquipmentDesc}}</td>
                        <td>{{DaysOutOfService}}</td>
                        <td>{{LatestComment}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    <div id="ossmodaldetail" class="hidden unit-detail">
        <header>
            <section>
                <h3>{{ParentTitle}}</h3>
                <h4>{{BuildingName}}</h4>
            </section>
        </header>
        <div class="details">
            <div class="item unit">
                <div class="label">Unit</div>
                <div class="data">{{Unit}}</div>
            </div>
            <div class="item downbytech">
                <div class="label">Down by Tech</div>
                <div class="data">{{DownByTech}}</div>
            </div>
            <div class="item daysoos">
                <div class="label">Days OOS</div>
                <div class="data">{{DaysOutOfService}}</div>
            </div>
            <div class="item mainttech">
                <div class="label">Maintenance Tech</div>
                <div class="data">{{MaintenanceTech}}</div>
            </div>
            <div class="item comments">
                <div class="label">Comments</div>
                <div class="data">
                    <p data-each="Comments">{{Comment}}</p>
                </div>
            </div>
        </div>
        <div id="ossmodaldetailcommentform">
            <input type="hidden" class="comment-id" id="ID{{EquipmentNumber}}" name="ID" value="{{EquipmentNumber}}"/>
            <input type="text" class="comment-note" id="NOTE{{EquipmentNumber}}" name="NOTE" placeholder="Enter comment" required/>
            <button data-action="ReturnToService" data-refresh="/ossunits" data-close-modal="true">Return to Service</button>
            <button data-action="AddComment" data-refresh="/ossunitdetail/{{EquipmentNumber}}" data-close-modal="false">Add Comment</button>
        </div>
    </div>
<div class="widget loading grid-sick-units" data-url="/sickunits">
    <div class="widget-content">
        <h3 data-action="ShowHelp" data-help="{{HelpText}}">{{Title}}</h3>
        <div class="content">
            <div class="listing">
                <table>
                    <thead>
                    <tr>
                        <th data-each="Headings">{{Label}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-each="Items">
                        <td>{{BuildingName}}</td>
                        <td>{{EquipmentDesc}}</td>
                        <td>{{DownedCar}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="widget loading grid-lingering-open-calls" data-url="/lingeringopencalls">
    <div class="widget-content">
        <h3 data-action="ShowHelp" data-help="{{HelpText}}">{{Title}}</h3>
        <div class="content">
            <div class="listing">
                <table>
                    <thead>
                    <tr>
                        <th data-each="Headings">{{Label}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-each="Items">
                        <td>{{BuildingName}}</td>
                        <td>{{EquipmentDesc}}</td>
                        <td>{{CallTime}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<div class="hidden" id="helpModalTemplate">{{HelpText}}</div>
<div class="modal-2 closed" id="modal">
    <button>
        <svg class="close-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm101.8-262.2L295.6 256l62.2 62.2c4.7 4.7 4.7 12.3 0 17l-22.6 22.6c-4.7 4.7-12.3 4.7-17 0L256 295.6l-62.2 62.2c-4.7 4.7-12.3 4.7-17 0l-22.6-22.6c-4.7-4.7-4.7-12.3 0-17l62.2-62.2-62.2-62.2c-4.7-4.7-4.7-12.3 0-17l22.6-22.6c4.7-4.7 12.3-4.7 17 0l62.2 62.2 62.2-62.2c4.7-4.7 12.3-4.7 17 0l22.6 22.6c4.7 4.7 4.7 12.3 0 17z"/>
        </svg>
    </button>
    <div class="content" id="modalContent">
    </div>
</div>
<div class="modalBlockout"></div>

<div class="actionInProgressMessage hidden" id="progressMessage">
    <div class="wrapper">
        <div id="progressSpinner" class="spinner">
            <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
              <div class="bar4"></div>
              <div class="bar5"></div>
              <div class="bar6"></div>
              <div class="bar7"></div>
              <div class="bar8"></div>
              <div class="bar9"></div>
              <div class="bar10"></div>
              <div class="bar11"></div>
              <div class="bar12"></div>
        </div>
        <div id="progressMessageText">Loading...</div>
    </div>
</div>
<div class="actionInProgressBlockout"></div>

<div id="hiddenArea" class="hidden">
    <ol id="debugArea" class="hidden debug-area" ></ol>
    <button id="showLog">Show Log</button>
</div>

<script type="text/javascript" nonce="@(ViewData["NONCE"])">
    const lastUpdatedDateTime = document.getElementById("lastUpdatedTime");
    var momentdate = moment();
    lastUpdatedDateTime.innerText = momentdate.format("MMM D, h:mm") + momentdate.format("a")[0]; //Oct 12, 2:42p

    const debugTextArea = document.getElementById('debugArea');

    function toggleHidden(btn, panel) {
        btn.addEventListener("click", e => panel.classList.toggle("hidden"));
    }

    toggleHidden(document.getElementById('lastUpdate'), document.getElementById('hiddenArea'));
    toggleHidden(document.getElementById('showLog'), debugTextArea);

    function errorLog(txt) {
        let el = document.createElement('li');
        el.innerText = txt;
        debugTextArea.appendChild(el);
    }

    try {
        const spinnerTemplate = document.getElementById('spinner');
        
        const superselector = document.getElementById('superselector');
        const superselectorContainer = document.getElementById('superselector-container');
        
        var widgets = document.querySelectorAll('.widget');
        widgets.forEach((e) => {
            var clone = document.importNode(spinnerTemplate.content, true);
            e.appendChild(clone);
        });
        
        const pleaseWait = document.getElementById('progressMessage');
        const pleaseWaitText = document.getElementById('progressMessageText');
        const pleaseWaitSpinner = document.getElementById('progressSpinner');
        var timeout;
        showPleaseWait = msg => {
            if (msg) {
                pleaseWaitText.innerText = msg;
                pleaseWaitSpinner.classList.add('hidden');
            }
            clearTimeout(timeout);
            timeout = setTimeout(() => {
                    pleaseWait.classList.remove('hidden');
                },
                500);
        };
        hidePleaseWait = () => {
            clearTimeout(timeout);
            pleaseWait.classList.add('hidden');
        }

        superselectorContainer.onclick = (e) => {
            let modal = document.getElementById('select-super-template');
            modal.classList.remove('hidden');
            document.body.classList.add('no-scroll');
            modal.onclick = (e) =>
            {
                if (e.target === modal) {
                    modal.classList.add('hidden');
                    document.body.classList.remove('no-scroll');
                }
            }
        };

        var modal = document.querySelector(".modal-2");
        var modalOverlay = document.querySelector(".modalBlockout");
        var closeButton = document.querySelector(".modal-2 button");

        function toggleModal() {
            modal.classList.toggle("closed");
            document.body.classList.toggle('modalopen');
        }

        function addToggleClosed(e) {
            e.addEventListener("click", toggleModal);
        }

        addToggleClosed(modalOverlay);
        addToggleClosed(closeButton);

        function ajax(url, data, method, user, pass, callback, errorcallback) {
            errorLog('ajax: ' + url);
            showPleaseWait();
            var r = new XMLHttpRequest();
            r.open(method, url);
            r.setRequestHeader("Authorization", "Basic " + btoa(userInfo.username + ":" + userInfo.password));
            r.setRequestHeader("Supers", userInfo.selectedSuper);
            r.setRequestHeader("Content-Type", "application/json");
            r.onreadystatechange = function() {
                errorLog('ajax readystatechange(' + r.readyState + '): ' + r.responseURL);
                if (r.readyState === 4) {
                    if (r.status === 200 && typeof callback == 'function') {
                        const responseObj = JSON.parse(r.responseText);
                        if (responseObj && responseObj.Title && responseObj.Title.indexOf('Unauth') >= 0) {
                            //catches SAP unauth errors only
                            errorcallback(responseObj.Title);
                            return;
                        }
                        if (responseObj && responseObj.Unit && responseObj.Unit.indexOf('Error') >= 0) {
                            //catches Return to Service and Add Comment errors only
                            errorcallback(responseObj.Unit);
                            hidePleaseWait();
                            return; //short circuits, don't run success code below
                        }
                        callback(r);
                    }
                    if (r.status === 401 && typeof errorcallback == 'function')
                        errorcallback(r); //should only happen on unauth from MVC
                    if (r.status === 500)
                        errorLog(r.responseText); //should only happen on error from MVC
                    hidePleaseWait();
                }
            };
            r.send(JSON.stringify(data));
        }

        var userInfo = {};

        function login(username, password, supIds) {
            userInfo.username = username;
            userInfo.password = password;
            userInfo.supIds = supIds ||
            [
                { "SupervisorId": "00210872", "Name": "CONWAY, SEAN" },
                { "SupervisorId": "00216575", "Name": "MARTINEZ, STEVE" },
                { "SupervisorId": "00300026", "Name": "MCINERNEY, JOSEPH" },
                { "SupervisorId": "00218824", "Name": "POWELL, JOSEPH" },
                { "SupervisorId": "00216881", "Name": "BURKS, JONATHAN" },
                { "SupervisorId": "00211059", "Name": "NOVELLA, CHRISTOPHER" }
            ];

        
            if (typeof userInfo.supIds === typeof []) {
                userInfo.selectedSuper = userInfo.supIds[0].SupervisorId;
                PopulateSuperSelector(userInfo.supIds);
            } else {
                userInfo.selectedSuper = supIds;
            }
            ajax('vfoytd',
                {},
                'GET',
                null,
                null,
                loadWidgetData,
                msg => {
                    hidePleaseWait();
                    showPleaseWait(msg);
                });

            if (document.getElementById('loginwidget') != null)
                document.getElementById('loginwidget').classList.add('hidden');
        }

        function PopulateSuperSelector(superList) {
            let modal = document.getElementById('select-super-template');
            let listContainer = document.querySelector('#select-super-list');
            superList.forEach((v, i, a) => {
                let div1 = document.createElement('div');
                let div2 = document.createElement('div');
                div1.classList.add("equipment-list-building");
                div1.classList.add("row");
                div1.style.backgroundColor = "#edf0f6";
                
                div2.innerText = v.Name;
                div2.value = v.SupervisorId;
                div1.onclick=() => {
                    document.body.classList.remove('no-scroll');
                    modal.classList.add('hidden');
                    if (v.SupervisorId !== userInfo.selectedSuper) {
                        userInfo.selectedSuper = v.SupervisorId;
                        superselector.innerText = v.Name;
                        loadWidgetData();
                    }
                } 
                div1.appendChild(div2);
                listContainer.appendChild(div1);
            });
            if (superList.length > 0) { // Load first super
                userInfo.selectedSuper = superList[0].SupervisorId;
                superselector.innerText = superList[0].Name;
            }
        }

        function replaceKeyVal(str, key, val) {
            return str.replace(new RegExp('{{' + key + '}}'), val);
        }

        function replaceVars(element, dataObj) {
            errorLog('replaceVars for ' + element.tagName);
            const re = /\{\{([^\}]+)\}\}/g;
            let match;
            while ((match = re.exec(element.outerHTML)) != null) {
                if (match.index === re.lastIndex) re.lastIndex++; //avoid inf loop
                let key = match[1];
                let val = dataObj;
                let keyPath = key.split('.');
                keyPath.forEach((ke) => {
                    val = val && val[ke];
                });
                element.innerHTML = replaceKeyVal(element.innerHTML, key, val);
                //TODO instead of specific prop callout, make it work for any/all
                if (element.dataset.modaldataurl)
                    element.dataset.modaldataurl = replaceKeyVal(element.dataset.modaldataurl,
                        key,
                        val);
            }
        }

        function replaceListVars(widget, data) {
            errorLog('replaceListVars for ' + widget.dataset.url);
            const dataEach = 'data-each';
            const lists = widget.querySelectorAll('[' + dataEach + ']');
            if (lists.length > 0) {
                for (var j = 0; j < lists.length; j++) {
                    const listWidget = lists[j];
                    const listWidgetTemplate = listWidget.cloneNode(true);
                    const parent = listWidget.parentElement;
                    parent.removeChild(listWidget);
                    var dataListObj = data[listWidget.dataset.each];
                    if (!dataListObj) break;
                    for (var k = 0; k < dataListObj.length; k++) {
                        const dataObj = dataListObj[k];
                        const itemWidget = listWidgetTemplate.cloneNode(true);
                        //replaceListVars(itemWidget, dataObj);
                        replaceVars(itemWidget, dataObj);
                        itemWidget.removeAttribute(dataEach);
                        parent.appendChild(itemWidget);
                    }
                }
            }
        }

        var widgetTemplates = {};

        function loadWidgetData() {
            var dataWidgets = document.querySelectorAll('[data-url]');
            for (var i = 0; i < dataWidgets.length; i++) {
                const existingWidget = dataWidgets[i];
                widgetTemplates[existingWidget.dataset.url] =
                    widgetTemplates[existingWidget.dataset.url] || existingWidget.cloneNode(true);
                const widget = widgetTemplates[existingWidget.dataset.url].cloneNode(true);
                existingWidget.parentElement.appendChild(widget);
                existingWidget.parentElement.removeChild(existingWidget);
//                widget.classList.add('spinner');
//                widget.classList.remove('hidden');
                if (widget.dataset.openmodal)
                    widget.addEventListener('click',
                        (e) => {
                            var target = e.target;
                            var p = e.path || e.composedPath();
                            var el = p.find((el) => el.dataset && el.dataset.modaldataurl);
                            var url = el && el.dataset && el.dataset.modaldataurl;
                            if (!url) return;
                            ajax(url,
                                null,
                                'GET',
                                null,
                                null,
                                (r) => {
                                    const modal = document.getElementById(widget.dataset.openmodal);
                                    showModal(modal, JSON.parse(r.responseText));
                                },
                                (er) => console.log);
                        });
                ajax(widget.dataset.url,
                    null,
                    'GET',
                    null,
                    null,
                    function(response) {
                        errorLog('call successful: ' + widget.dataset.url);
                        var data = JSON.parse(response.responseText);
                        const dataObj = widget.dataset.with ? data[widget.dataset.with] : data;
                        replaceListVars(widget, dataObj);
                        replaceVars(widget, dataObj);
                        widget.classList.remove('loading');
                    });
            }
        }

        function showModal(modalElementTemplate, dataObj) {
            const modalElement = modalElementTemplate.cloneNode(true);
            replaceListVars(modalElement, dataObj);
            replaceVars(modalElement, dataObj);
            const content = document.getElementById('modalContent');
            while (content.firstChild) content.removeChild(content.firstChild);
            content.appendChild(modalElement);
            const modal = document.getElementById('modal');
            modalElement.classList.remove('hidden');
            modal.classList.remove('closed');
            document.body.classList.add('modalopen');
        }

        //ShowHelp
        //TODO added another event listening to document.click, at some point could reduce click events
        document.addEventListener('click',
            e => {
                var el = e.target;
                var action = el.dataset.action;
                if (action != 'ShowHelp') return;
                const template = document.getElementById('helpModalTemplate');
                showModal(template, { HelpText: el.dataset.help });
            });

        //AddComment and ReturnToService
        document.addEventListener('click',
            e => {
                var el = e.target;
                var action = el.dataset.action;
                var closeModal = el.dataset.closeModal === 'true' || false;
                var refreshData = el.dataset.refresh;
                if (action != 'AddComment' && action != 'ReturnToService') return;
                const noteTxt = el.parentElement.querySelector('.comment-note');
                var notes = noteTxt.value;
                if (!notes) {
                    noteTxt.focus();
                    noteTxt.placeholder = 'Please enter a comment';
                    return;
                }
                var id = el.parentElement.querySelector('.comment-id').value;
                ajax('/ossunit/' + id + '/' + action + '/',
                    notes,
                    'POST',
                    null,
                    null,
                    res => {
                        noteTxt.value = '';
                        noteTxt.placeholder = 'Enter comment';
                        if (closeModal) toggleModal();
                        if (refreshData) {
                            var singleMatch = widgetTemplates[refreshData];
                            if (singleMatch) {
                                singleMatch = singleMatch.cloneNode(true);
                                singleMatch.classList.add('spinner');
                                var old = document.querySelector('[data-url="' + refreshData + '"]');
                                old.parentNode.replaceChild(singleMatch, old);
                                loadWidgetData();
                                return;
                            }
                            var detailMatch = document.querySelector('[data-modaldataurl="' + refreshData + '"]');
                            if (detailMatch) {
                                detailMatch.click();
                            }
                        }
                    },
                    res => {
                        alert(res);
                    });
            });
    } catch (e) {
        errorLog(e);
    }
</script>
</div>
<div id="select-super-template" class="modal-container hidden">
    <div class="modal col select-supervisor-container">
        <div class="row justify-content-center">
            <h2>Select Supervisor</h2> 
        </div>
        <div class="equipment-list-container mt-4 mt-32px" id="select-super-list">
        </div>
    </div> 
</div>
</body>

</html>