<html lang="en">
<head>
    
    <base href="@(Model.Base)"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Order</title>
    <style nonce="@(ViewData["NONCE"])">
        .full-width{
            width:100%;
        }
    </style>
</head>
<body>
    <img src="@(Model.Base)/wwwroot/images/myordertop.png" class="full-width" onclick="javascript:location.href = 'http://b2bseo.weco.at/basket'"/>
    <img src="@(Model.Base)/wwwroot/images/myorderbottom.png" class="full-width" onclick="javascript:location.href='/selectequipment'" />
</body>
</html>
