:root {
    --main-bg-color: #edf0f6;
    --main-border-color: #979797;
    --default-text-color: #4a4a4a;
    --light-text-color: #666666;
    --lighter-text-color: #9b9b9b;
    --primary-color: #dd0808;
    --success-green: #73ad49;
}

* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
    font-size: 18px;
    color: #333;
    font-weight:normal;
}

body {
    background: var(--main-bg-color);
}

h1,h2,h3,h4{
    font-weight:normal;
}
h1{
    font-size:28px;
}

h2{
    font-size: 21px;
}

h3{
    font-size: 20px;
}

.light-text{
    color: var(--light-text-color);
}

.lighter-text{
    color: var(--lighter-text-color);
}

.text-large{
    font-size:20px;
}
.text-small{
    font-size:15px;
}
.text-x-small{
    font-size:12px;
}

.row {
    display: flex;
    flex-direction: row;
}

.card {
    background: white;
    padding: 20px 0;
    border-radius: 4px;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.align-items-center {
    align-items: center;
}
.align-items-end {
    align-items: flex-end;
}

.mt-1 {
    margin-top: 0.2em;
}
.mt-4 {
    margin-top: 1em;
}
.mb-2 {
    margin-bottom: .3em;
}

.mr-2{
    margin-right: .3em;
}

.ml-2{
    margin-left: .3em;
}

.container {
    margin: 0 80px;
}

.col {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
}

.col.no-gutter {
    margin: 0 0;
}
.col.no-gutter-left {
    margin-left: 0;
}


input[type="number"],input[type="text"],input[type="password"],input[type="email"],select,.fake-select {
    -webkit-appearance: none;
    border: 1px solid #999999;
    border-radius: 4px;
    padding: 8px 12px;
    width:100%;
    background:white;
    color: var(--lighter-text-color);
}

input[type="date"].order-date-picker {
    border-radius: 4px;
    background: none;
    border:none;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 16px;
}

.btn {
    background: lightgray;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    padding: 8px 22px;
}

a.btn{
    text-decoration: none; 
}

.btn-flat{
    background:none;
    border:none;
}

.btn-flat.btn-bordered{
    border:1px solid var(--default-text-color)
}

.btn-lg{
    font-size:18px;
}

.btn.btn-primary {
    background: var(--primary-color);
    color: white;
}

.btn.btn-primary[disabled] {
    background-color: lightgray;
}

.divider {
    border-bottom: 1px solid lightgray;
}

.modal-container{
    width:100vw; 
    height:100vh;
    display: flex;
    z-index: 1000;
    background: rgba(178, 178, 178, 0.27);
    position: fixed;
    top:0;
    left:0;
    justify-content: center;
}

.modal{
    width: 720px; 
    border-radius: 4px;
    background: white;
    margin: 80px 0;
    padding: 20px 44px;
    position:relative;
}

.equipment-list-container{
    overflow:auto;
}

.flex {
    flex: 1;
}

.text-primary {
    color: var(--primary-color);
}

.select-container {
    position: relative;
}

.select-container:after {
    -webkit-font-smoothing: antialiased;
    /*border-left: 1px solid #dd0808;*/
    color: var(--primary-color);
    content: '\f078';
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    height: 34px;
    line-height: 1;
    padding: 15px 0px 0px 8px;
    pointer-events: none;
    position: absolute;
    right: 11px;
    text-rendering: auto;
    top: 6px;
}


.select-container select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */
    text-align: right;
    direction: rtl;
    display: block;
    width: 100%;
    height: 50px;
    float: right;
    padding: 0px 36px 0 4px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    /*border: 1px solid #dd0808;*/
    border:none;
    -ms-word-break: normal;
    word-break: normal;
}
.select-container.ltr select {
    direction: ltr;
}
.select-container select option{
    direction: ltr;
}
.fake-select-container {
    position: relative;
}

.fake-select-container-readonly {
    position: relative;
}

.fake-select-container:after {
    -webkit-font-smoothing: antialiased;
    /*border-left: 1px solid #dd0808;*/
    color: var(--primary-color);
    content: '\f078';
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    height: 34px;
    line-height: 1;
    padding: 15px 0px 0px 8px;
    pointer-events: none;
    position: absolute;
    right: 11px;
    text-rendering: auto;
    top: 6px;
}

.fake-select-container-readonly:after {
    -webkit-font-smoothing: antialiased;
    /*border-left: 1px solid #dd0808;*/
    color: white;
    content: '\f078';
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    height: 34px;
    line-height: 1;
    padding: 15px 0px 0px 8px;
    pointer-events: none;
    position: absolute;
    right: 11px;
    text-rendering: auto;
    top: 6px;
}

.fake-select-container .fake-select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */

    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: flex-end;
    height: 50px;
    float: right;
    padding: 0px 36px 0 4px;
    line-height: 1.25;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    /*border: 1px solid #dd0808;*/
    border:none;
    -ms-word-break: normal;
    word-break: normal;
    white-space:nowrap;
    width: calc(100% - 50px);
}

.fake-select-container-readonly .fake-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    height: 50px;
    float: right;
    padding: 0px 36px 0 4px;
    line-height: 1.25;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    /*border: 1px solid #dd0808;*/
    border: none;
    -ms-word-break: normal;
    word-break: normal;
    white-space: nowrap;
    width: calc(100% - 50px);
}

.fake-select-container.ltr .fake-select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */

    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: flex-end;
    height: 50px;
    padding: 0px 36px 0 4px;
    line-height: 1.25;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    /*border: 1px solid #dd0808;*/
    border:none;
    -ms-word-break: normal;
    word-break: normal;
    white-space:nowrap;
    width: calc(100% - 50px);
}

.fake-select-container-readonly.ltr .fake-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    height: 50px;
    padding: 0px 36px 0 4px;
    line-height: 1.25;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    /*border: 1px solid #dd0808;*/
    border: none;
    -ms-word-break: normal;
    word-break: normal;
    white-space: nowrap;
    width: calc(100% - 50px);
}

.equipment-list-building{
    background: var(--main-bg-color);
    border: 1px solid var(--main-border-color);
    border-radius:3px;
    padding:14px;
    margin: 14px 0 0;
}


.fake-select-container.ltrt .fake-select-fw {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    vertical-align: middle;
    height: 50px;
    padding: 5px 36px 0px 4px;
    /*line-height: 1.25;*/
    color: #333;
    background-color: #ffffff;
    background-image: none;
    /*border: 1px solid #dd0808;*/
    border: none;
    -ms-word-break: normal;
    word-break: normal;
    white-space: nowrap;
    /*width: calc(100% - 50px);*/
}

.fake-select-container-readonly.ltrt .fake-select-fw {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    vertical-align: middle;
    height: 50px;
    padding: 5px 36px 0px 4px;
    /*line-height: 1.25;*/
    color: #333;
    background-color: #ffffff;
    background-image: none;
    /*border: 1px solid #dd0808;*/
    border: none;
    -ms-word-break: normal;
    word-break: normal;
    white-space: nowrap;
    /*width: calc(100% - 50px);*/
}

.equipment-list-building .select-button{
    height:52px;
    width:52px;
    border-radius:30px;
    border: 1px solid var(--main-border-color);
    background:white;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:10px;
}

.equipment-building-text{
    padding: 0 0 0 21px;
}

.equipment-list-item{
    background: var(--main-bg-color);
    border: 1px solid var(--main-border-color);
    border-radius:3px;
    padding:14px;
    margin: 14px 0 0 93px;
}

.search-icon:after {
    content: '\f002';
    font: normal normal 900 24px/1 "Font Awesome 5 Free";
    color: var(--primary-color);
    height: 34px;
    padding: 15px 0px 0px 8px;
    /*border-left: 1px solid #dd0808;*/
}

.close-modal-icon:after {
    content: '\f057';
    font: normal normal 400 32px/1 "Font Awesome 5 Free";
    color: var(--primary-color);
    height: 34px;
    padding: 15px 0px 0px 8px;
    /*border-left: 1px solid #dd0808;*/
}

.close-modal-icon-container {
    position:absolute;
    top:27px;
    right:27px;
}

.select-equipment-required-btn{
    border: 1px solid #cfd0d6;
    background: var(--main-bg-color);
    padding: 16px;
}

.header-details{
    padding: 0 19px;
    margin: 4px 0;
}

.header-details-label{
    width:120px; 
}

.cart-items:last-child{
    margin-bottom: 42px; 
}

.back-button{
    font-size: 18px;
}

.success-check-icon{
    position: relative; 
    left: -20px;
    color: var(--success-green); 
    font-size: 56px;
}

.error-icon{
    position: relative;
    left: -20px;
    color: var(--primary-color);
    font-size: 56px;
}


body.no-scroll{
    overflow:hidden;
    position:fixed;
    width:100vw;
}

.remove-icon{
    position: relative;
    display:flex;
    justify-content: center; 
    align-items: center;
    width:24px;
    height:24px;
}
.remove-icon:before{
    content:"";
    display:block;
    height:22px;
    width:1px;
    background-color: var(--lighter-text-color);
    transform: rotate(-45deg);
}
.remove-icon:after{
    content:"";
    display:block;
    height:22px;
    width:1px;
    background-color: var(--lighter-text-color);
    transform: rotate(45deg);
}



div.spinner {
    position: relative;
    width: 54px;
    height: 54px;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}
div.spinner.white div{
    background: white; 
}

div.spinner div {
    width: 6%;
    height: 16%;
    background: var(--primary-color);
    position: absolute;
    left: 49%;
    top: 43%;
    opacity: 0;
    -webkit-border-radius: 50px;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
    -webkit-animation: fade 1s linear infinite;
}

@-webkit-keyframes fade {
    from {opacity: 1;}
    to {opacity: 0.25;}
}

div.spinner div.bar1 {
    -webkit-transform:rotate(0deg) translate(0, -130%);
    -webkit-animation-delay: 0s;
}

div.spinner div.bar2 {
    -webkit-transform:rotate(30deg) translate(0, -130%);
    -webkit-animation-delay: -0.9167s;
}

div.spinner div.bar3 {
    -webkit-transform:rotate(60deg) translate(0, -130%);
    -webkit-animation-delay: -0.833s;
}
div.spinner div.bar4 {
    -webkit-transform:rotate(90deg) translate(0, -130%);
    -webkit-animation-delay: -0.7497s;
}
div.spinner div.bar5 {
    -webkit-transform:rotate(120deg) translate(0, -130%);
    -webkit-animation-delay: -0.667s;
}
div.spinner div.bar6 {
    -webkit-transform:rotate(150deg) translate(0, -130%);
    -webkit-animation-delay: -0.5837s;
}
div.spinner div.bar7 {
    -webkit-transform:rotate(180deg) translate(0, -130%);
    -webkit-animation-delay: -0.5s;
}
div.spinner div.bar8 {
    -webkit-transform:rotate(210deg) translate(0, -130%);
    -webkit-animation-delay: -0.4167s;
}
div.spinner div.bar9 {
    -webkit-transform:rotate(240deg) translate(0, -130%);
    -webkit-animation-delay: -0.333s;
}
div.spinner div.bar10 {
    -webkit-transform:rotate(270deg) translate(0, -130%);
    -webkit-animation-delay: -0.2497s;
}
div.spinner div.bar11 {
    -webkit-transform:rotate(300deg) translate(0, -130%);
    -webkit-animation-delay: -0.167s;
}
div.spinner div.bar12 {
    -webkit-transform:rotate(330deg) translate(0, -130%);
    -webkit-animation-delay: -0.0833s;
}

input[type="date"].extended-date-picker {
    position: relative;
    width: 150px;
    height: 42px;
    border-radius: 4px;
    border: 1px solid var(--main-border-color);
    color: var(--lighter-text-color);
    padding-left:7px;
}

input[type="date"].extended-date-picker::-webkit-inner-spin-button, input[type="date"].extended-date-picker::-webkit-clear-button {
    display: none;
}

input[type="date"].extended-date-picker::-webkit-calendar-picker-indicator {
    position: center;
    top: 10px;
    right: 0;
    color: var(--light-text-color);
}


/*input[type="number"].extended-date-picker {
    position: relative;
    width: 140px;
    height: 42px;
    border-radius: 4px;
    border: 1px solid var(--main-border-color);
    color: var(--lighter-text-color);
    padding-left: 7px;
}*/

input[type="number"].number-no-spinner::-webkit-inner-spin-button {
    display: none;
}


/* Layout css*/

.ml-5px{
    margin-left:5px;
}