.red {
  color: #dd0808;
}

.lightgray {
  color: var(--lighter-text-color);
}

.yellowish {
  color: #f8f8f8;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: var(--default-text-color);
}

.lightText,
.details .item .label,
header .lastUpdatedDateTime,
.listing .label,
.content table tr th,
.modal-2 .content table tr th,
.modal-2 header h3 {
  color: var(--lighter-text-color);
}

.lightText,
.details .item .label,
header .lastUpdatedDateTime,
.listing .label,
.content table tr th,
.modal-2 .content table tr th{
  color: var(--lighter-text-color);
  font-size:15px;
}


html,
body {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  height: 100%;
}

html body.modalopen {
  overflow: hidden;
}

body {
  background-color: #edf0f6;
}

.full-container{
  margin: 5px 10px 80px;
}

header {
  display: flex;
  justify-content: space-between;
}

header .lastUpdatedDateTime {
  margin: 10px;
  font-size: 12px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "district-vital-few-objectives mtd-material mtd-material schindler-ahead" "out-of-service-units out-of-service-units out-of-service-units out-of-service-units" "sick-units sick-units lingering-open-calls lingering-open-calls";
  /*grid-template-areas: "district-vital-few-objectives mtd-material mtd-material schindler-ahead" "district-vital-few-objectives non-conformances non-conformances schindler-ahead" "out-of-service-units out-of-service-units out-of-service-units out-of-service-units" "sick-units sick-units lingering-open-calls lingering-open-calls";*/
}

.widget {
  margin: 5px;
  background-color: #fff;
  border-radius: 3px;
}
.widget .spinner{
    display:none;
}
.widget.loading .spinner{
  display:block;
}
.widget.loading {
  display:flex;
  justify-content: center;
  align-items:center;
  min-height:200px;
  min-width:200px;
}

.widget.loading .widget-content {
    display:none;
}

.widget h3 {
  margin: 10px 0 0;
  padding: 0 10px 10px;
  border-bottom: 1px solid #f8f8f8;
  white-space: pre-wrap;
  cursor: pointer;
}

.hover{
  cursor: pointer;
}

.widget h2[data-help]::after,
.widget h3[data-help]::after{
  content:' ';
  /* content:'url(images/help.svg)'; */
  background-image:url(images/help.svg);
  fill:#dd0808;
  float:right;
  display: block;
  width:1em;
  height: 1em;
  padding: 0px 1px 2px;
}

.listing {
  margin: 0 0 1em;
}

.listing .item {
  display: flex;
  padding: 10px 10px;
  justify-content: space-between;
  font-size:16px;
}

.listing .item * {
  font-size:16px;
}

.listing .value {
  color: var(--default-text-color);
}

.widget .content img {
  width: 100%;
}

.modalBlockout,
.actionInProgressBlockout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.3);
}

.actionInProgressBlockout {
  z-index: 101;
}

.modal-2 {
  background-color: #fff;
  display: block;
  position: absolute;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 10px solid #fff;
  border-radius: 3px;
  width: 80%;
  height: 80%;
}

.actionInProgressMessage {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 102;
}

.actionInProgressMessage .wrapper {
  background: white;
  border-radius: 5px;
  padding:20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.actionInProgressMessage .wrapper #progressMessageText {
  color: #dd0808;
  margin: 1em;
}

.hidden,
body .hidden,
.modal-2.closed,
.modal-2.closed + .modalBlockout,
.actionInProgressMessage.hidden + .actionInProgressBlockout {
  display: none;
}

.modal-2 * {
  background-color: inherit;
}

.modal-2 header {
  margin: 10px;
}

.modal-2 header h4 {
}

.modal-2 > button {
  border: none;
  width: 20px;
  height: 20px;
  line-height: 18px;
  vertical-align: middle;
  /*convert to SVG?*/
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 20px;
}

.modal-2 > button > .close-icon {
  fill: #dd0808;
}

.modal-2 .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.content table {
  width: 100%;
  border-collapse: collapse;
}

.content table tr th,
.content table tr td {
  padding: 1ex;
}

.content table tr td, .content table tr td * {
    font-size:16px !important;
}

.content table tr th {
  border-bottom: 1px solid #edf0f6;
  padding: 1ex;
  text-align: left;
}

.content table tr td {
  color: var(--default-text-color);
}

.modal-2 .content table {
  width: 100%;
}

.modal-2 .content table tr th,
.modal-2 .content table tr td {
  padding: 1em 1ex 0;
}

.modal-2 .content table tr th {
  border-bottom: 1px solid #edf0f6;
  padding: 1ex;
  text-align: left;
}

.modal-2 .content table tr td {
  color: var(--default-text-color);
}

.clickable-detail {
  /* TODO make hit box bigger? */
  position: relative;
  padding-right: 20px;
  flex: 1;
}

.clickable-detail::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
  background: url("images/information.svg") no-repeat center center;
  background-size: contain;
}

.unit-detail {
  display: grid;
  height: 100%;
}

.details {
  display: grid;
  grid-template-areas: "unit unit downbytech" "daysoos daysoos mainttech" "comments comments comments";
}

.details .item {
  margin: 0 10px;
}

.details .item .data {
  margin: 10px 0 20px;
}

.details .item.unit {
  grid-area: unit;
}

.details .item.downbytech {
  grid-area: downbytech;
}

.details .item.daysoos {
  grid-area: daysoos;
}

.details .item.mainttech {
  grid-area: mainttech;
}

.details .item.comments {
  grid-area: comments;
}

.details .item.comments .data {
  margin: 10px 0 20px;
  line-height: 1.25em;
  max-height: 10.625em;
  overflow: scroll;
}

#ossmodaldetailcommentform {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  margin: 10px;
}

#ossmodaldetailcommentform input,
#ossmodaldetailcommentform button {
}

#ossmodaldetailcommentform input.comment-note {
  padding: 1ex;
  flex-basis: 100%;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(238, 238, 238);
}

#ossmodaldetailcommentform input.comment-note:focus {
  outline: none;
}

#ossmodaldetailcommentform input.comment-note:focus:invalid {
  border-color: #dd0808;
}

#ossmodaldetailcommentform input.comment-note:focus::placeholder {
  color: #dd0808;
}

button[data-action] {
  margin: 2ex;
  border: none;
  border-radius: 5px;
  background-color: #dd0808;
  color: #fff;
  padding: 1ex 1.5em;
}

form.login {
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
}

form.login input {
  padding: 1ex;
}

form.login button {
  padding: 1ex 1em;
}

