.full-width{
    width:100%;
}

.bg-white{
    background:white;
}

.bg-none{
   background:none; 
}

.grid-district-vital-few-objectives{
    grid-area: district-vital-few-objectives;
}

.grid-mtd-material{
    grid-area: mtd-material;
}

.grid-schindler-ahead{
    grid-area: schindler-ahead;
}


.grid-out-of-service-units{
    grid-area: out-of-service-units;
}

.grid-sick-units{
    grid-area: sick-units;
}

.grid-schindler-ahead{
    grid-area: schindler-ahead;
}

.grid-lingering-open-calls{
    grid-area: lingering-open-calls;
}

.debug-area{
    margin:3em;
}

.select-supervisor-container{
    width: 400px; 
    margin: auto 0; 
    max-height:430px;
}

.mt-32px{
    margin-top:32px;
}