.order-header{
    margin:19px 19px;   
}

.loading-modal{
    height: 106px; 
    width: auto; 
    padding: 20px;
}

.height-200px{
    height:200px;
}

.ml-4px{
    margin-left:4px;
}

.mt-32px{
    margin-top:32px;
}

.shipping-modal{
    width: 400px; 
    margin: auto 0; 
    max-height:430px;
}

.flex-2{
    flex:2;
}
.mr-40px{
    margin-right:40px;
}

.invoice-total{
    font-size: 27px; 
    font-weight: 500; 
    padding-right:40px;
}

.width-60px{
    width:60px;
}

.shipto-dropdown{
    max-width: 384px; 
    overflow: hidden;
}

.flex-1{
   flex:1; 
}
.ml-40px{
    margin-left:40px;
}

.equipment-container{
    height:35px;
    margin-top:4px;
}

.mt-18px{
    margin-top:18px;
}

.width-110px{
    width:110px;
}

.width-90px{
    width:90px;
}

.text-align-center{
    text-align:center;
}
.ml-0{
    margin-left:0;
}

.mt-4px{
   margin-top:4px; 
}

.equipment-select-container{
    height:35px;
    margin-top:15px;
    margin-left:20px;
}
.ml-20px{
    margin-left:20px;
}

.full-width{
    width:100%;
}

.width-50px{
    width:50px;
}

.width-130px{
    width:130px;
}

.width-80px{
    width:80px;
}

.order-history-header{
    margin: 30px 120px;
}