﻿@using Microsoft.AspNetCore.Html
@model smt_dashboard.ViewModels.DashboardViewModel
<html lang="en">
<head>
    <base href="@(Model.Base)"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create FM Order</title>
    <script type="text/javascript" src="@(Model.Base)/wwwroot/moment.min.js"></script>
    <script type="text/javascript" nonce="@(ViewData["NONCE"])">
        window.sapServer = "@(Model.SAPServer)";
        window.appId = "@(Model.AppId)";
   
    </script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css" integrity="sha384-QokYePQSOwpBDuhlHOsX0ymF6R/vLk/UQVz3WHa6wygxI5oGTmDTv8wahFOSspdm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/regular.css" integrity="sha384-FKw7x8fCxuvzBwOJmhTJJsKzBl8dnN9e2R4+pXRfYoHivikuHkzWyhKWDSMcGNK8" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css" integrity="sha384-vd1e11sR28tEK9YANUtpIOdjGW14pS87bUBuOIoBILVWLFnS+MCX9T6MMf0VdPGq" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="@(Model.Base)/wwwroot/checkout.css?t=@((Int32) (DateTime.UtcNow.Subtract(new DateTime(1970, 1, 1))).TotalSeconds)"/>
    <link rel="stylesheet" type="text/css" href="@(Model.Base)/wwwroot/order-styles.css?t=@((Int32) (DateTime.UtcNow.Subtract(new DateTime(1970, 1, 1))).TotalSeconds)"/>
    <meta name='viewport'
          content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>
</head>
<body>
    <script type="module"  nonce="@(ViewData["NONCE"])">
    import {app} from "@(Model.Base)/wwwroot/createFmOrder.js?t=@((Int32) (DateTime.UtcNow.Subtract(new DateTime(1970, 1, 1))).TotalSeconds)"
    window.app = app;
    app.init();
    </script>

    <div class="row header-details ">

   
    </div>
   
</body>
</html>